<div class="column is-two-thirds">
    <div class="card" style="background-color: #656565">
        <div class="card-content">
            <div class="content is-justify-content-space-evenly">

                <p6>{{comment_body}}</p6>

                <p6 class="is-italic">User: {{user_id}}</p6>

                <p6 class="is-italic">Created at: {{createdAt}}</p6>

            </div>
        </div>
    </div>
</div>