<div class="column is-two-thirds">
  <div class="card" style="background-color: #6e9d71">
    <div class="card-content">
      <div class="content">
        {{content_body}}
      </div>
    </div>
  </div>
</div>