<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each contents as |content|}}
            {{> content-cards}}
            {{/each}}
        </div>
    </div>
</section>