<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each contents as |content|}}
            {{> content-cards}}
            {{/each}}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card" style="background-color: #6e9d71">
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <div class="control">
                                    <input id="content" class="input" type="text" placeholder="post new content">
                                </div>
                            </div>
                            <div class="buttons" id="addContent">
                                <a class="button is-dark">
                                    <strong>submit</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/addContent.js"></script>